{% extends 'base.html' %}
{% block title %}
<title>HomePage</title>
{% endblock %}
{% block content %}
<h1> Welcome Django Template Replace</h1>
<a href="Link Url">This is hlink</a>
<div>

    <p>Hello div property derived from base template</p>
</div>
<button class="serbutton" style="background-color: blue;color:red;text-align:center">
    Template Propeties overwrite </button>
<button class="serbutton">
    Propeties from Template</button>
<button class="subbutton">Propeties from Template</button>
{% endblock %}